.content .product-left ul li{
    height: 99px;
    line-height: 99px;
    font-size: 14px;
    color: #252525;
}
.content .product-right ul{
    width: 918px;
    margin-top:10px;
}
.content .product-right ul li{
    padding-bottom:20px;
    border-bottom: 2px solid #eee;
}
.content .product-right ul li h2{
    line-height: 36px;
    font-size: 16px;
    font-style: normal;
    color:#606369;
    height: 36px;
}
.content .product-right ul li span{
    font-size:12px;
    color:#a5a5b1;
}
.content .product-right ul li p{
    line-height: 18px;
    font-size: 14px;
    color: #818388;
    margin-top:10px;
}
.content .product-right .btn{
    margin-top:54px;
}
